cachetools==5.3.3 ; python_version >= "3.9" and python_version < "4.0"
certifi==2024.6.2 ; python_version >= "3.9" and python_version < "4.0"
cffi==1.16.0 ; python_version >= "3.9" and python_version < "4.0" and platform_python_implementation != "PyPy"
charset-normalizer==3.3.2 ; python_version >= "3.9" and python_version < "4.0"
colorama==0.4.4 ; python_version >= "3.9" and python_version < "4.0"
cryptography==42.0.8 ; python_version >= "3.9" and python_version < "4.0"
google-api-core==2.19.1 ; python_version >= "3.9" and python_version < "4.0"
google-api-python-client==2.135.0 ; python_version >= "3.9" and python_version < "4.0"
google-auth-httplib2==0.2.0 ; python_version >= "3.9" and python_version < "4.0"
google-auth-oauthlib==1.2.0 ; python_version >= "3.9" and python_version < "4.0"
google-auth==2.30.0 ; python_version >= "3.9" and python_version < "4.0"
googleapis-common-protos==1.63.2 ; python_version >= "3.9" and python_version < "4.0"
httplib2==0.22.0 ; python_version >= "3.9" and python_version < "4.0"
idna==3.7 ; python_version >= "3.9" and python_version < "4.0"
oauthlib==3.2.2 ; python_version >= "3.9" and python_version < "4.0"
proto-plus==1.24.0 ; python_version >= "3.9" and python_version < "4.0"
protobuf==5.27.2 ; python_version >= "3.9" and python_version < "4.0"
pwinput==1.0.3 ; python_version >= "3.9" and python_version < "4.0"
pyasn1-modules==0.4.0 ; python_version >= "3.9" and python_version < "4.0"
pyasn1==0.6.0 ; python_version >= "3.9" and python_version < "4.0"
pycparser==2.22 ; python_version >= "3.9" and python_version < "4.0" and platform_python_implementation != "PyPy"
pyparsing==3.1.2 ; python_version >= "3.9" and python_version < "4.0"
rapidfuzz==3.9.3 ; python_version >= "3.9" and python_version < "4.0"
regex==2024.5.15 ; python_version >= "3.9" and python_version < "4.0"
requests-oauthlib==2.0.0 ; python_version >= "3.9" and python_version < "4.0"
requests==2.32.3 ; python_version >= "3.9" and python_version < "4.0"
rsa==4.9 ; python_version >= "3.9" and python_version < "4"
rtfunicode==2.0 ; python_version >= "3.9" and python_version < "4.0"
six==1.16.0 ; python_version >= "3.9" and python_version < "4.0"
uritemplate==4.1.1 ; python_version >= "3.9" and python_version < "4.0"
urllib3==2.2.2 ; python_version >= "3.9" and python_version < "4.0"
